/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- IMPORTS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 50px;
}

header > img {
  width: 70px;
  height: 80px;
}

h1 {
  font-weight: 400;
  font-size: 48px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- MAIN -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  margin-top: 300px;
  gap: 70px;
}

.counterButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.counterButtons > button {
  width: 60px;
  height: 60px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  border: none;
}

.counterButtons > button > p {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
}

.reset {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  width: 150px;
  height: 60px;
  border-radius: 15px;
  background-color: #5c48d3;
  color: white;
  border: none;
}

.counter {
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: #5c48d3;
  color: white;
  text-align: center;
  padding: 25px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- FOOTER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 15px;
  margin-bottom: 150px;
}

footer span {
  font-weight: bold;
}
